<a href="https://colab.research.google.com/github/rjroxx/NLP_Coursework/blob/master/Q%26A_17Feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
!wget https://rajpurkar.github.io/SQuAD-explorer/dataset/train-v2.0.json

--2020-02-22 16:03:27--  https://rajpurkar.github.io/SQuAD-explorer/dataset/train-v2.0.json
Resolving rajpurkar.github.io (rajpurkar.github.io)... 185.199.110.153, 185.199.109.153, 185.199.108.153, ...
Connecting to rajpurkar.github.io (rajpurkar.github.io)|185.199.110.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 42123633 (40M) [application/json]
Saving to: ‘train-v2.0.json.1’

train-v2.0.json.1   100%[===================>]  40.17M   149MB/s    in 0.3s

2020-02-22 16:03:27 (149 MB/s) - ‘train-v2.0.json.1’ saved [42123633/42123633]

In [0]:
df=pd.read_json('/content/train-v2.0.json')

In [0]:
df.head()

  version                                               data
0    v2.0  {'title': 'Beyoncé', 'paragraphs': [{'qas': [{...
1    v2.0  {'title': 'Frédéric_Chopin', 'paragraphs': [{'...
2    v2.0  {'title': 'Sino-Tibetan_relations_during_the_M...
3    v2.0  {'title': 'IPod', 'paragraphs': [{'qas': [{'qu...
4    v2.0  {'title': 'The_Legend_of_Zelda:_Twilight_Princ...

In [0]:
df['data'][0]

In [0]:
from pandas.io.json import json_normalize 
np = json_normalize(df['data'])
np.head()

                                            title                                         paragraphs
0                                         Beyoncé  [{'qas': [{'question': 'When did Beyonce start...
1                                 Frédéric_Chopin  [{'qas': [{'question': "What was Frédéric's na...
2  Sino-Tibetan_relations_during_the_Ming_dynasty  [{'qas': [{'question': 'Who were Wang Jiawei a...
3                                            IPod  [{'qas': [{'question': 'Which company produces...
4          The_Legend_of_Zelda:_Twilight_Princess  [{'qas': [{'question': 'What category of game ...

In [0]:
np['paragraphs'][0]

In [0]:
wd = json_normalize(data = df['data'], 
                            record_path ='paragraphs',  
                            meta =['answers','text',],errors='ignore') 
wd.head()

                                                 qas  ... text
0  [{'question': 'When did Beyonce start becoming...  ...  NaN
1  [{'question': 'After her second solo album, wh...  ...  NaN
2  [{'question': 'In her music, what are some rec...  ...  NaN
3  [{'question': 'Beyonce's younger sibling also ...  ...  NaN
4  [{'question': 'What town did Beyonce go to sch...  ...  NaN

[5 rows x 4 columns]

In [0]:
wf = json_normalize(data = df['data'], 
                            record_path =['paragraphs', 'qas']) 
wf.head()

                                            question  ... plausible_answers
0           When did Beyonce start becoming popular?  ...               NaN
1  What areas did Beyonce compete in when she was...  ...               NaN
2  When did Beyonce leave Destiny's Child and bec...  ...               NaN
3      In what city and state did Beyonce  grow up?   ...               NaN
4         In which decade did Beyonce become famous?  ...               NaN

[5 rows x 5 columns]

In [0]:
wc = json_normalize(data = df['data'], 
                            record_path =['paragraphs', 'qas','answers']) 
wc.head()

                  text  answer_start
0    in the late 1990s           269
1  singing and dancing           207
2                 2003           526
3       Houston, Texas           166
4           late 1990s           276

In [0]:
from tqdm import tqdm

In [0]:
df=df.data
import json
import pandas as pd 


with open("/content/train-v2.0.json", "r") as f:
    data = json.loads(f.read())

questions, answers = [], []

for i in range(len(data["data"])):
    for j in range(len(data["data"][i]["paragraphs"])):
        for k in range(len(data["data"][i]["paragraphs"][j]["qas"])):
            q = data["data"][i]["paragraphs"][j]["qas"][k]["question"]
            try: 
                a = data["data"][i]["paragraphs"][j]["qas"][k]["answers"][0]["text"]
            except IndexError:
                a = "None"

            questions.append(q)
            answers.append(a)

d = {
    "Questions": questions,
    "Answers": answers
}

In [0]:
Data = pd.DataFrame(d)

In [0]:
Data.head()

                                           Questions              Answers
0           When did Beyonce start becoming popular?    in the late 1990s
1  What areas did Beyonce compete in when she was...  singing and dancing
2  When did Beyonce leave Destiny's Child and bec...                 2003
3      In what city and state did Beyonce  grow up?        Houston, Texas
4         In which decade did Beyonce become famous?           late 1990s

In [0]:
import json
import numpy as np
file = json.loads(open('/content/train-v2.0.json').read())
record_path = ['data','paragraphs','qas','answers']
js = pd.io.json.json_normalize(file ,record_path=None)
m = pd.io.json.json_normalize(file, record_path[:-1] )
r = pd.io.json.json_normalize(file,record_path[:-2])
    
idx = np.repeat(r['context'].values, r.qas.str.len())
#ndx  = np.repeat(m['id'].values,m['answers'].str.len())
 
m['context'] = idx
#js['q_idx'] = ndx
main = m[['id','question','context','answers']].set_index('id').reset_index()
main['c_id'] = main['context'].factorize()[0]

main

                              id  ...   c_id
0       56be85543aeaaa14008c9063  ...      0
1       56be85543aeaaa14008c9065  ...      0
2       56be85543aeaaa14008c9066  ...      0
3       56bf6b0f3aeaaa14008c9601  ...      0
4       56bf6b0f3aeaaa14008c9602  ...      0
...                          ...  ...    ...
130314  5a7e070b70df9f001a875439  ...  19028
130315  5a7e070b70df9f001a87543a  ...  19028
130316  5a7e070b70df9f001a87543b  ...  19028
130317  5a7e070b70df9f001a87543c  ...  19028
130318  5a7e070b70df9f001a87543d  ...  19028

[130319 rows x 5 columns]

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [0]:
df1=TfidfVectorizer(stop_words='english',max_features=7000) # get max features either using set method or finding length of the tf matrix columns 
df1_val=df1.fit_transform(main['question'])
final=pd.DataFrame(df1_val.toarray(),columns=df1.get_feature_names())
final

        000   10  100  1000  101  10th  ...  zhang  zhejiang  zinc  zone  zones  zoo
0       0.0  0.0  0.0   0.0  0.0   0.0  ...    0.0       0.0   0.0   0.0    0.0  0.0
1       0.0  0.0  0.0   0.0  0.0   0.0  ...    0.0       0.0   0.0   0.0    0.0  0.0
2       0.0  0.0  0.0   0.0  0.0   0.0  ...    0.0       0.0   0.0   0.0    0.0  0.0
3       0.0  0.0  0.0   0.0  0.0   0.0  ...    0.0       0.0   0.0   0.0    0.0  0.0
4       0.0  0.0  0.0   0.0  0.0   0.0  ...    0.0       0.0   0.0   0.0    0.0  0.0
...     ...  ...  ...   ...  ...   ...  ...    ...       ...   ...   ...    ...  ...
130314  0.0  0.0  0.0   0.0  0.0   0.0  ...    0.0       0.0   0.0   0.0    0.0  0.0
130315  0.0  0.0  0.0   0.0  0.0   0.0  ...    0.0       0.0   0.0   0.0    0.0  0.0
130316  0.0  0.0  0.0   0.0  0.0   0.0  ...    0.0       0.0   0.0   0.0    0.0  0.0
130317  0.0  0.0  0.0   0.0  0.0   0.0  ...    0.0       0.0   0.0   0.0    0.0  0.0
130318  0.0  0.0  0.0   0.0  0.0   0.0  ...    0.0       0.0   0.0   0.0    0.0  0.0

[130319 rows x 7000 columns]

In [0]:
import nltk
import re
from nltk.corpus import stopwords
from nltk import word_tokenize 
from string import punctuation,digits
import gensim
from gensim.models import Word2Vec
from gensim import models
from gensim.test.utils import get_tmpfile, common_texts

In [0]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [0]:
no = str.maketrans('', '', digits)
st = set(stopwords.words('english'))

def cust(str):
  str = str.lower()
  str = str.translate(no)
  str = re.sub(r'[^\w\s]',' ',str)
  token = word_tokenize(str)
  words = [word for word in token if word not in st and word not in punctuation]
  return words
  
final=main.question.apply(cust)

In [0]:
final.shape

(130319,)

In [0]:
def cust1(text):
  text=text.lower()
  rd = str.maketrans('', '', digits)
  text = text.translate(rd)
  text = re.sub(r'[^\w\s]',' ',text)
  tokenize=word_tokenize(text)
  return tokenize

final= main.question.apply(cust1)

In [0]:
final=final.tolist()

In [0]:
len(final)

130319